<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>
<script>
var gitalk = new Gitalk({
  clientID: 'ac7951b9f1bcd86bf6cc',
  clientSecret: 'f4135b6ece85333ea710a893335e19656449a2f9',
  repo: 'BlogComments',
  owner: 'zevmre',
  admin: ['zevmre'],
  id: md5(location.href),      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>